/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/.idea/

#codeception
tests/_output/*
tests/_support/_generated
#include default test images
/web/uploads/*
!/web/uploads/default

#frontend vendor just in case
/bower_components/
/node_modules/