{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h4>Acme Product</h4>
            {{ knp_menu_render('side_menu') }}
        </div>
        <div class="col-md-10">
            {% block product %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
