{% extends "base.html.twig" %}

{% block page %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Welcome to Acme Optronics!</h2>
                    </div>
                    <div class="panel-body">
                        {% block fos_user_content %}{% endblock fos_user_content %}
                    </div>
                    <div class="panel-footer">
                        &raquo; <a href="#" title="Help Center - Distributors">How to become a distributor?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}
