<ul class="breadcrumb margin-none">
    <i class="fa fa-home"></i>
    {% for item in get_current_menu_items('main_menu') %}
        <li>
            <a href="{{ item.uri }}">{{ item.label }}</a>

        </li>
    {% endfor %}
</ul>