<div class="footer">
    <div class="container">
        <hr>
        <nav class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">General Information</div>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="/help/about">About Us</a></li>
                            <li class="list-group-item"><a href="/help/media">Media Information</a></li>
                            <li class="list-group-item"><a href="/help/values">Our Values</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Get Help</div>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="/help">Help &amp; Customer Service</a></li>
                            <li class="list-group-item"><a href="/help/contact">Contact Us</a></li>
                            <li class="list-group-item"><a href="/help/terms-and-conditions">Terms and Conditions</a>
                            </li>
                            <li class="list-group-item"><a href="/help/privacy-policy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Getting Started</div>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="/login">My Account</a></li>
                            <li class="list-group-item"><a href="/login">My Orders</a></li>
                            <li class="list-group-item"><a href="/login">Trade Accounts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Follow us</div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="http://twitter.com"
                                   rel="nofollow"
                                   title="Follow us on Twitter">
                                    <span class="fa fa-twitter fa-lg fa-fw"></span>Twitter
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="https://www.facebook.com"
                                   rel="nofollow"
                                   title="Follow us on Facebook">
                                    <span class="fa fa-facebook fa-lg fa-fw"></span>Facebook
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="https://plus.google.com"
                                   rel="nofollow"
                                   title="Follow us on Google+">
                                    <span class="fa fa-google fa-lg fa-fw"></span>Google+
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="https://www.youtube.com"
                                   rel="nofollow"
                                   title="Follow us on Youtube">
                                    <span class="fa fa-youtube fa-lg fa-fw"></span>Youtube
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <small class="col-md-12">
            All prices are shown in New Zealand Dollars and include GST unless otherwise stated.


            101 Honeysuckle Lane, Acme, Washington 98220, US

            &copy; Copyright 2016 <b>Acme Optronics Corp.</b> All Rights Reserved
        </small>
    </div>
</div>