{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        {% include ':common:breadcrumb.html.twig' %}
        <header class="row">
            <div class="col-md-12">
                {% block page_title %}{% endblock %}
            </div>
        </header>
        <nav class="browser-menu row col-md-3 ">
            {% include ":common:sidebar.html.twig" %}
        </nav>
        <main class="col-md-9">
            {% block main %}{% endblock %}
        </main>
    </div>
{% endblock %}
