{% extends 'base.html.twig' %}

{% block page %}
    <div class="container">
        {% include ':common:breadcrumb.html.twig' %}
        <header class="row">
            <div class="col-md-12">
                {% block page_title %}{% endblock %}
            </div>
        </header>
        {% block content %}
            <nav class="browser-menu row col-md-3 ">
                {% include ":common:sidebar.html.twig" %}
            </nav>
            <main class="col-md-9">
                {% block main %}{% endblock %}
            </main>
        {% endblock %}
    </div>
{% endblock %}
