{% extends 'base.html.twig' %}

{% set menu = knp_menu_get('entity_sub_menu', [], {entity: 'category'}) %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4>Acme Category</h4>
            {{ knp_menu_render(menu) }}
        </div>
        <div class="col-md-9">
            {% block category %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
