{% extends 'common/layout.html.twig' %}

{% block page_title %}
    <h1>All Products</h1>
{% endblock %}

{% block main %}
    {{ include(':common:_gallery_header.html.twig') }}
    {{ include(':common:_gallery.html.twig') }}
{% endblock %}
